



   
.main{
    display: flex; white-space-collapse: ; flex-direction: row;justify-content: space-around;
}
.one,.tow,.three
 {
    border: 2px solid rgb(211, 24, 24);width: 250px;
}





























9

}   














    

    

    

    

    
 
    
    
    














)
    








    